<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.UI.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
</head>
<body>
    <div style="padding:10px 10px;">
       @using (Html.BeginForm(FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data" }))
        {
            Html.AntiForgeryToken();
            @RenderBody();            
        }
   </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
</body>

</html>
